<meta name="csrf-token" content="{{ csrf_token() }}">


<script src="{{ url_for('static',filename='bootstrap/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

<script src="{{ url_for('static',filename='common/zlparam.js') }}"></script>
<script src="{{ url_for('static',filename="common/zlajax.js") }}"></script>

<link rel="stylesheet" href="{{ url_for('static',filename='common/sweetalert/sweetalert.css') }}">
<script src="{{ url_for('static',filename='common/sweetalert/sweetalert.min.js') }}"></script>
<script src="{{ url_for('static',filename='common/sweetalert/zlalert.js') }}"></script>